.form-container {
	display: flex;
	flex-direction: column;
	background-color: hsl(0, 11%, 89%);
	border: 2px solid rgb(70, 4, 74);
	color: rgb(70, 4, 74);
	border-radius: 5px;
	padding: 5px;
	height: 70vh;
}
#submit {
	background-color: rgb(126, 7, 124);
	color: #E6E0E0;
	font-weight: bold;
	height: 35px;
	border-radius: 7px;
	margin-top: 10px;
	border: none;
}
label {
	font-weight: bold;
	font-size: 15px;
}

input[type="text"],
textarea {
	width: 100%;
	padding: 9px;
	margin: 5px 0 15px 0;
	border: 2px solid #703363;
	border-radius: 5px;
	background-color: #cc97be;
	box-sizing: border-box;
	color: black;
    font-weight: bolder;
}

input[type="date"] {
	width: 75%;
	padding: 5px;
	margin: 5px 0 15px 0;
	border: 2px solid #703363;
	border-radius: 5px;
	background-color: #cc97be;
	box-sizing: border-box;
	color: black;
	
}

#priority,
#task-status,
#task-allocate {
	background-color: #cc97be;
	border: 2px solid #703363;
	width: 45%;
	color: black;
	
}

textarea {
	resize: vertical;
}
