/* .frame{
 
} */

.container {
	border: 10px solid rgb(70, 4, 74);
	max-width: 600px;
	overflow: auto;
	min-height: 600px;
	padding: 30px;
	border-radius: 8px;
	align-items: center;
	margin: 2% 20% 5% 30%;
	background-color: hsl(0, 11%, 89%);
}



.add-task {
	background-color: rgb(126, 7, 124);
	color: #E6E0E0;
	font-weight: bold;
	font-size: 24px;
	height: 70px;
	width: 100%;
	border-radius: 7px;
	border: none;
}
.no-tasks {
	color: rgb(70, 4, 74);
	font-size: 16px;
}

.hello {
	font-size: 25px;

	color: rgb(70, 4, 74);
}

h1 {
	color: rgb(70, 4, 74);
	text-align: center;
}

@media only screen and (max-width: 768px) {
	.container {
		font-size: 14px;
		padding: 10px;
	}
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
	.container {
		font-size: 16px;
		padding: 20px;
	}
}

@media only screen and (min-width: 1024px) {
	.container {
		font-size: 18px;
		padding: 30px;
	}
}
